<h3>Buscar Region <small>{{ regionActiva | titlecase }}</small></h3>
<hr>

<h5>Seleccione la region</h5>

<!-- [class.btn-primary]="region === regionActiva"
[ngClass]="{
    'btn-primary': regionActiva === region,
    'btn btn-outline-primary': regionActiva !== region
}" -->
<div class="row">
    <div class="col">
        <button *ngFor="let region of regiones"
                (click)="activarRegion( region )"
                [class]="getCssClass( region )"
                >
            {{ region }}
        </button>
    </div>
</div>

<div class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises" ></app-pais-tabla>
    </div>
</div>